<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='spinner.css') }}">
    <meta charset="UTF-8">
    <title>Axie Search</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
var axie_list = {{ axies|tojson }}
var body_parts = {{ body_parts|tojson }};
var search_profiles = {{ search_profiles|tojson }};
var axie_classes = {{ query.classes|tojson }};
var axie_eyes = {{ query.eyes|tojson }};
var axie_ears = {{ query.ears|tojson }};
var axie_mouths = {{ query.mouth|tojson }};
var axie_horns = {{ query.horn|tojson }};
var axie_backs = {{ query.back|tojson }};
var axie_tails = {{ query.tail|tojson }};

async function search() {

    // TODO: Probably have to do some input parsing on the numbers here

    // Spinner loader
    var anchor = document.getElementById("center-div");
    var spinner = document.createElement("div");
    spinner.id = 'cover-spin'
    anchor.appendChild(spinner)

    var result = await fetch("{{ url_for('axie_search') }}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            action: "search",
            query: {
                axie_classes: axie_classes,
                axie_eyes: axie_eyes,
                axie_ears: axie_ears,
                axie_mouths: axie_mouths,
                axie_horns: axie_horns,
                axie_backs: axie_backs,
                axie_tails: axie_tails,
                breed_count: [document.getElementById("breed_count_min").value, document.getElementById("breed_count_max").value],
                speed: [document.getElementById("speed_min").value, document.getElementById("speed_max").value],
                hp: [document.getElementById("hp_min").value, document.getElementById("hp_max").value],
                skill: [document.getElementById("skill_min").value, document.getElementById("skill_max").value],
                morale: [document.getElementById("morale_min").value, document.getElementById("morale_max").value],
                min_quality: document.getElementById("quality_min").value
            }
        })
    })
    .then(response => {
        console.log(response)
        location.reload();
    });
}

async function modifyProfile(submitted) {

    // Spinner loader
    var anchor = document.getElementById("center-div");
    var spinner = document.createElement("div");
    spinner.id = 'cover-spin'
    anchor.appendChild(spinner)

    var result = await fetch("{{ url_for('axie_search') }}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            action: submitted,
            profile: document.getElementById("profile_submit").value,
            query: {
                axie_classes: axie_classes,
                axie_eyes: axie_eyes,
                axie_ears: axie_ears,
                axie_mouths: axie_mouths,
                axie_horns: axie_horns,
                axie_backs: axie_backs,
                axie_tails: axie_tails,
                breed_count: [document.getElementById("breed_count_min").value, document.getElementById("breed_count_max").value],
                speed: [document.getElementById("speed_min").value, document.getElementById("speed_max").value],
                hp: [document.getElementById("hp_min").value, document.getElementById("hp_max").value],
                skill: [document.getElementById("skill_min").value, document.getElementById("skill_max").value],
                morale: [document.getElementById("morale_min").value, document.getElementById("morale_max").value],
                min_quality: document.getElementById("quality_min").value
            }
        })
    })
    .then(response => {
        console.log(response)
        location.reload();
    });
}

function capitalize(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}

function addClass() {
    var element = document.getElementById("add_axie_class");
    axie_classes.push(element.value)
    addSearchListElement("class_search", axie_classes, element.value, element.value, "class");
    element.value = "";
}

function addEyes() {
    var element = document.getElementById("add_axie_eyes");
    axie_eyes.push(element.value)
    addSearchListElement("eyes_search", axie_eyes, element.value, element.value, "eyes");
    element.value = "";
}

function addEars() {
    var element = document.getElementById("add_axie_ears");
    axie_ears.push(element.value)
    addSearchListElement("ears_search", axie_ears, element.value, element.value, "ears");
    element.value = "";
}

function addCardPart(type) {
    var element = document.getElementById(`add_axie_${type}`);

    var list;
    if (type == "mouth") list = axie_mouths;
    else if (type == "horn") list = axie_horns;
    else if (type == "back") list = axie_backs;
    else if (type == "tail") list = axie_tails;
    else {
        alert("HTML is malformed");
        return;
    }

    var result;
    for (var i = 0 ; i < body_parts.length; ++i) {
        if (body_parts[i]['type'] == type && body_parts[i]['name'] == element.value) {
            result = body_parts[i]
            list.push(result);
        }
    }

    if (result == null) {
        alert("Invalid part");
        return;
    }
    addSearchListElement(`${type}_search`, list, result['name'], capitalize(result['class']), type);
    element.value = "";
}

function addSearchListElement(list_container, list, item, item_class, prefix) {
    var search_element = document.getElementById(list_container);

    var container = document.createElement("div");
    id = prefix + item
    container.id = id
    container.style = "display: flex; align-items: center; justify-content: space-between; margin: 12px; margin-bottom: 0px;"

    var text_child = document.createElement("div");
    text_child.className = item_class
    text_child.innerText = item

    var remove_child = document.createElement("div");
    remove_child.style = "cursor: pointer;"

    var remove_svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
    remove_svg.setAttributeNS(null, "id", id);
    remove_svg.setAttributeNS(null, 'width', '18');
    remove_svg.setAttributeNS(null, 'height', '18');
    remove_svg.setAttributeNS(null, 'viewBox', '0 0 16 16');
    remove_svg.style="fill: red;";
    remove_svg.addEventListener('click', function(e) {
        console.log(e.target.id)
        console.log(item)
        console.log(list)
        removeSearchListElement(list, item, e.target.id);
    })

    var svg_path = document.createElementNS("http://www.w3.org/2000/svg", "path");
    svg_path.setAttributeNS(null, "id", id);
    svg_path.setAttributeNS(null, "d", "M11.033 8l4.548-4.549a1.43 1.43 0 000-2.021L14.571.419a1.43 1.43 0 00-2.022 0L8 4.967 3.451.42a1.43 1.43 0 \
                                       00-2.021 0L.419 1.429a1.43 1.43 0 000 2.022L4.967 8 .42 12.549a1.43 1.43 0 000 2.021l1.01 1.011a1.43 1.43 0 \
                                       002.022 0L8 11.033l4.549 4.548a1.43 1.43 0 002.021 0l1.011-1.01a1.43 1.43 0 000-2.022L11.033 8z"); // Cross image

    remove_svg.appendChild(svg_path)
    remove_child.appendChild(remove_svg)
    container.appendChild(text_child);
    container.appendChild(remove_child);
    search_element.appendChild(container);
}

function removeSearchListElement(list, item, id) {
    var index = list.indexOf(item);
    if (index > -1) {
        list.splice(index, 1);
        var element = document.getElementById(id);
        element.remove();
    } 
    else {
        for (var i = 0 ; i < list.length; ++i) {
            if (list[i]['name'] == item) {
                index = i
            }
        }
        if (index > -1) {
            list.splice(index, 1);
            var element = document.getElementById(id);
            element.remove();
        } 
    }
}

function getAxieDetail(id) {
    console.log("Getting axie detail");
    console.log(id);
    var result;
    for (var i = 0 ; i < axie_list.length; ++i) {
        if (axie_list[i].id == id) {
            console.log("Axie found");
            console.log(axie_list[i]);
            axie = axie_list[i];

            var table_body = document.getElementById('detail_table_body');
            table_body.innerHTML = "";

            partTypes = ['eyes', 'ears', 'mouth', 'horn', 'back', 'tail']
            axie_parts = axie['parts'];
            for (var partType of partTypes) {
                var table_row = document.createElement("tr");

                var table_td_0 = document.createElement("td");
                table_td_0.innerHTML = capitalize(partType);
                var table_td_1 = document.createElement("td");
                table_td_1.innerHTML = axie_parts[partType]['D']['part_name']
                table_td_1.className = axie_parts[partType]['D']['part_class']
                var table_td_2 = document.createElement("td");
                table_td_2.innerHTML = axie_parts[partType]['R1']['part_name']
                table_td_2.className = axie_parts[partType]['R1']['part_class']
                var table_td_3 = document.createElement("td");
                table_td_3.innerHTML = axie_parts[partType]['R2']['part_name']
                table_td_3.className = axie_parts[partType]['R2']['part_class']
                var table_td_4 = document.createElement("td");
                table_td_4.innerHTML = 0

                table_row.appendChild(table_td_0)
                table_row.appendChild(table_td_1)
                table_row.appendChild(table_td_2)
                table_row.appendChild(table_td_3)
                table_row.appendChild(table_td_4)
                table_body.appendChild(table_row)
            }

            return;
        }
    }
}
</script>
<style>
    .row {
        display: flex;                  /* set up flexbox */
        flex-direction: row;            /* left-to-right flow */
        flex-wrap: nowrap;              /* prevent wrapping */
        justify-content: space-between; /* put all remaining space between the boxes, with no space on either end */
        align-items: stretch;           /* vertically stretch the boxes to fill the entire height of the row */
        height: 95%;
    }

    .box-main { flex: 1 1 80%; }
    .box-side { flex: 1 1 15%; }

    #left-div {
        border-style: solid;
        border-width: 1px;
        border-color: white;
        padding: 8px;
        background-color: rgb(17,19,27);
        height: 100%;
        overflow-y: scroll;
    }

    #center-div {
        border-style: solid;
        border-width: 1px;
        border-color: white;
        height:calc(100% + 16px);
        overflow: auto;
    }
</style>
<body>
<div class="screen-height">

<!--  Navigation  -->
{% include 'includes/navbar.html' %}


<div class='row'>

<div class='box-side' id='left-div'>

    <div class="searchCriteria">
        <div style="text-align: center; margin: 12px;">
            Search Profile
        </div>

        <form onsubmit="modifyProfile(this.submitted); return false;">
        <input type="text" id="profile_submit" class="TextInput wide-text-input">

        <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 6px;">
            <div>
                <input onclick="this.form.submitted=this.value;" type="submit" value="Save">
                <input onclick="this.form.submitted=this.value;" type="submit" value="Load">
                <select id="profile_select" onchange="changeProfile();"></select>
            </div>
            <div>
                <input onclick="this.form.submitted=this.value;" type="submit" value="Delete">
            </div>
        </div>
        </form>
    </div>

    <div style="margin: 8px; float: center;">
        <form onsubmit="clearSearchQuery(); return false;">
        <input style="width: 100%;" type="submit" value="Clear">
        </form>
    </div>

    <!--  Axie class input  -->
    <div id="class_search" class="searchCriteria">
        <div style="margin: 6px;">
            Class
        </div>
        <form onsubmit="addClass(); return false;">
            <input type="text" id="add_axie_class" class="TextInput wide-text-input">
        </form>
    </div>

    <!--  Axie stat part input  -->
    <div id="eyes_search" class="searchCriteria">
        <div style="margin: 6px;">
            Eyes
        </div>
        <form onsubmit="addEyes(); return false;">
            <input type="text" id="add_axie_eyes" class="TextInput wide-text-input">
        </form>
    </div>

    <div id="ears_search" class="searchCriteria">
        <div style="margin: 6px;">
            Ears
        </div>
        <form onsubmit="addEars(); return false;">
            <input type="text" id="add_axie_ears" class="TextInput wide-text-input">
        </form>
    </div>

    <!--  Axie card part input  -->
    <div id="mouth_search" class="searchCriteria">
        <div style="margin: 6px;">
            Mouth
        </div>
        <form onsubmit="addCardPart('mouth'); return false;">
            <input type="text" id="add_axie_mouth" class="TextInput wide-text-input">
        </form>
    </div>

    <div id="horn_search" class="searchCriteria">
        <div style="margin: 6px;">
            Horn
        </div>
        <form onsubmit="addCardPart('horn'); return false;">
            <input type="text" id="add_axie_horn" class="TextInput wide-text-input">
        </form>
    </div>

    <div id="back_search" class="searchCriteria">
        <div style="margin: 6px;">
            Back
        </div>
        <form onsubmit="addCardPart('back'); return false;">
            <input type="text" id="add_axie_back" class="TextInput wide-text-input">
        </form>
    </div>

    <div id="tail_search" class="searchCriteria">
        <div style="margin: 6px;">
            Tail
        </div>
        <form onsubmit="addCardPart('tail'); return false;">
            <input type="text" id="add_axie_tail" class="TextInput wide-text-input">
        </form>
    </div>

    <!--  Numerical fields  -->
    <form onsubmit="search(); return false;">
    <div class="searchCriteria">
        <div style="display: flex; align-items: center; justify-content: space-between; margin: 6px; ">
            Breed Count
            <input type="text" id="breed_count_min" class="number_input TextInput">
            <input type="text" id="breed_count_max" class="number_input TextInput">
        </div>
        <div style="margin: 6px;">
            HP
            <input type="text" id="hp_min" class="number_input TextInput">
            <input type="text" id="hp_max" class="number_input TextInput">
        </div>
        <div style="margin: 6px;">
            Speed
            <input type="text" id="speed_min" class="number_input TextInput">
            <input type="text" id="speed_max" class="number_input TextInput">
        </div>
        <div style="margin: 6px;">
            Skill
            <input type="text" id="skill_min" class="number_input TextInput">
            <input type="text" id="skill_max" class="number_input TextInput">
        </div>
        <div style="margin: 6px;">
            Morale
            <input type="text" id="morale_min" class="number_input TextInput">
            <input type="text" id="morale_max" class="number_input TextInput">
        </div>
        <div style="margin: 6px;">
            Min Quality
            <input type="text" id="quality_min" class="number_input TextInput">
        </div>
        
    </div>

    <div style="margin: 8px; float: center;">
        <input style="width: 100%;" type="submit" value="Search">
    </div>
    </form>

</div>

<div class='box-main' id='center-div'>
    <div style="height: calc(75% - 2px); overflow: auto; border-style: solid; border-width: 1px; border-color: white; border-bottom-width: 2px;">
        <table>
            <thead style="text-align: center;">
                <tr>
                    <th>
                        Axie ID
                    </th>
                    <th>
                        Class
                    </th>
                    <th>
                        Mouth
                    </th>
                    <th>
                        Horn
                    </th>
                    <th>
                        Back
                    </th>
                    <th>
                        Tail
                    </th>

                    <th>
                        Breed Count
                    </th>
                    <th>
                        HP
                    </th>
                    <th>
                        Speed
                    </th>
                    <th>
                        Skill
                    </th>
                    <th>
                        Morale
                    </th>
                    <th>
                        ETH
                    </th>
                    <th>
                        USD
                    </th>
                    <th>
                        Quality
                    </th>
                </tr>
            </thead>
            <tbody> 
        <tbody> 
            <tbody> 
                {% for axie in axies %}
                    <tr onclick="getAxieDetail('{{ axie.id }}');">
                        <td>
                            <a class='AxieLink' href="https://marketplace.axieinfinity.com/axie/{{ axie.id }}/" target="_blank">{{ axie.id }}</a>
                        </td>
                        <td class="{{ axie.axie_class }}">
                            {{ axie.axie_class }}
                        </td>
                        <td class="{{ axie.parts['mouth']['D'].part_class }}">
                            {{ axie.parts['mouth']['D'].part_name }}
                        </td>
                        <td class="{{ axie.parts['horn']['D'].part_class }}">
                            {{ axie.parts['horn']['D'].part_name }}
                        </td>
                        <td class="{{ axie.parts['back']['D'].part_class }}">
                            {{ axie.parts['back']['D'].part_name }}
                        </td>
                        <td class="{{ axie.parts['tail']['D'].part_class }}">
                            {{ axie.parts['tail']['D'].part_name }}
                        </td>

                        <td class="td-number">
                            {{ axie.breedCount }}
                        </td>
                        <td class="td-number">
                            {{ axie.getHP() }}
                        </td>
                        <td class="td-number">
                            {{ axie.getSpeed() }}
                        </td>
                        <td class="td-number">
                            {{ axie.getSkill() }}
                        </td>
                        <td class="td-number">
                            {{ axie.getMorale() }}
                        </td>
                        <td class="td-number">
                            {{ axie.priceETH }}
                        </td>
                        <td class="td-number">
                            {{ axie.priceUSD }}
                        </td>
                        {% if axie.quality >= 90 %}
                        <td class="td-number" style="color: yellowgreen;">
                            {{ axie.quality }}
                        </td>
                        {% elif axie.quality >= 80 %}
                        <td class="td-number" style="color: yellow;">
                            {{ axie.quality }}
                        </td>
                        {% else %}
                        <td class="td-number" style="color: tomato;">
                            {{ axie.quality }}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="height: calc(25% - 1px); display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: stretch; ">
        <div style="height: calc(100% - 2px); width: 60%; border-style: solid; border-width: 1px; border-color: white; overflow-y: auto;">
            <table>
                <thead style="text-align: center;">
                    <tr>
                        <th style="width: 20%;">
                            Part
                        </th>
                        <th style="width: 20%;">
                            D
                        </th>
                        <th style="width: 20%;">
                            R1
                        </th>
                        <th style="width: 20%;">
                            R2
                        </th>
                        <th style="width: 20%;">
                            Quality
                        </th>
                    </tr>
                </thead>
                <tbody id="detail_table_body">
                </tbody>
            </table>
        </div>
        <div style="height: calc(100% - 2px); width: 40%; border-style: solid; border-width: 1px; border-color: white;"></div>
    </div>
</div>

</div>

<script>

// Load elements with existing query
for (const axie_class of axie_classes) {
    addSearchListElement("class_search", axie_classes, axie_class, axie_class, "class");
}
for (const eyes of axie_eyes) {
    addSearchListElement("eyes_search", axie_eyes, eyes, eyes, "eyes");
}
for (const ears of axie_ears) {
    addSearchListElement("ears_search", axie_ears, ears, ears, "ears");
}
for (const mouth of axie_mouths) {
    addSearchListElement("mouth_search", axie_mouths, mouth['name'], capitalize(mouth['class']), "mouth");
}
for (const horn of axie_horns) {
    addSearchListElement("horn_search", axie_horns, horn['name'], capitalize(horn['class']), "horn");
}
for (const back of axie_backs) {
    addSearchListElement("back_search", axie_backs, back['name'], capitalize(back['class']), "back");
}
for (const tail of axie_tails) {
    addSearchListElement("tail_search", axie_tails, tail['name'], capitalize(tail['class']), "tail");
}
document.getElementById("breed_count_min").value = '{{ query.breedCount[0] }}';
document.getElementById("breed_count_max").value = '{{ query.breedCount[1] }}';
document.getElementById("speed_min").value = '{{ query.speed[0] }}';
document.getElementById("speed_max").value = '{{ query.speed[1] }}';
document.getElementById("hp_min").value = '{{ query.hp[0] }}';
document.getElementById("hp_max").value = '{{ query.hp[1] }}';
document.getElementById("skill_min").value = '{{ query.skill[0] }}';
document.getElementById("skill_max").value = '{{ query.skill[1] }}';
document.getElementById("morale_min").value = '{{ query.morale[0] }}';
document.getElementById("morale_max").value = '{{ query.morale[1] }}';
document.getElementById("quality_min").value = '{{ query.min_quality }}';

function changeProfile() {
    var selectBox = document.getElementById("profile_select");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    var profileInput = document.getElementById("profile_submit");
    profileInput.value = selectedValue;
}

for (const profile of search_profiles) {
    if (profile['name'] == "current_query") continue;
    console.log(profile);
    var profile_dropdown = document.getElementById('profile_select');
    var option = document.createElement("option");
    option.innerText = profile['name'];
    profile_dropdown.appendChild(option);
}

const MIN_STAT = 27
const MAX_STAT = 61
function clearSearchQuery() {
    var list = JSON.parse(JSON.stringify(axie_classes));
    for (const axie_class of list) {
        id = "class" + axie_class
        removeSearchListElement(axie_classes, axie_class, id);
    }
    var list = JSON.parse(JSON.stringify(axie_eyes));
    for (const eyes of list) {
        id = "eyes" + eyes
        removeSearchListElement(axie_eyes, eyes, id);
    }
    var list = JSON.parse(JSON.stringify(axie_ears));
    for (const ears of list) {
        id = "ears" + ears
        removeSearchListElement(axie_ears, ears, id);
    }
    var list = JSON.parse(JSON.stringify(axie_mouths));
    for (const mouth of list) {
        id = "mouth" + mouth['name']
        removeSearchListElement(axie_mouths, mouth['name'], id);
    }
    var list = JSON.parse(JSON.stringify(axie_horns));
    for (const horn of list) {
        id = "horn" + horn['name']
        removeSearchListElement(axie_horns, horn['name'], id);
    }
    var list = JSON.parse(JSON.stringify(axie_backs));
    for (const back of list) {
        id = "back" + back['name']
        removeSearchListElement(axie_backs, back['name'], id);
    }
    var list = JSON.parse(JSON.stringify(axie_tails));
    for (const tail of list) {
        id = "tail" + tail['name']
        removeSearchListElement(axie_tails, tail['name'], id);
    }

    document.getElementById("breed_count_min").value = 0;
    document.getElementById("breed_count_max").value = 7;
    document.getElementById("speed_min").value = MIN_STAT;
    document.getElementById("speed_max").value = MAX_STAT;
    document.getElementById("hp_min").value = MIN_STAT;
    document.getElementById("hp_max").value = MAX_STAT;
    document.getElementById("skill_min").value = MIN_STAT;
    document.getElementById("skill_max").value = MAX_STAT;
    document.getElementById("morale_min").value = MIN_STAT;
    document.getElementById("morale_max").value = MAX_STAT;
    document.getElementById("quality_min").value = 0;
}

</script>

</div>
</body>
</html>
